body{
  background-color: black;
}

@font-face {
    font-family: DSDIGI;
    src: url(./ds_digital/DS-DIGIB.TTF);
    font-weight: bold;
  }

#display{
  font-size: xx-large;
    font-family: DSDIGI;
}